.container_mu{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
    border-style: solid;
    border-color:rgb(204, 255, 137);
    max-width: 1500px;
    padding: 3% ;
    
    display: table;
   
}
.img_mu{
    /* margin: auto; */
    width: 60%;
    height: 60%;
    max-width: 10;
    float: left;
    z-index: 100;
}
.text_mu{
    position: relative;
    text-align:justify ;
    font-size: 18px;
    z-index: 101;
}


